<h2>TU CyberCorps Scholarship Program</h2>
<br />
<%= @application.first%>,
<br />
Thank you for applying to TU CyberCorps scholarship program. Unfortunately, your application has been denied at this time.


<br />
Thanks.
