<h2>TU CyberCorps Scholarship Program</h2>
<br />
<%= @application.first_name%>,
<br />
Thank you for applying to TU CyberCorps scholarship program. We are happy to tell you that your application has been approved.
Congratulations.

<br />
Application packet will be sent to you.

<br />
Thanks.
