<h2>Hello <%=@application.first_name%>,</h2>
<br />
This is an automated message sent from the CyberCorps Scholarship Application website.
<br />
You have successfully submitted you application.
<br />
Submission Time: <%= @application.updated_at%> <br />
Application ID: <%= @application.id %> <br />
Applicant's Last name: <%= @application.last_name %> <br />
<br />
Log into the website to check on the status of your application. You will also be notified via email once decision has been made.

<br />
Thanks,<br />
TUCSA System
