<h2>Hello CyberCorps Scholarship Admin,</h2>
<br />
This is an automated message sent from the CyberCorps Scholarship Application website.
<br />
A student has recently submitted an completed application through the website.
<br />
Application id: <%= @application.id%><br />
Applicant's First name: <%= @application.first%> <br />
Submission Time: <%= Time.now%> <br />
<br />
You can log into the website and travel to admin panel to view/download the application package.

<br />
Thanks,<br />
TUCSA System
