# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a59107397320e0d22b5f8875f66a0921b642ef643fa2cace1af9d4606360bf62c1996bd0c93e0e9c1e34b3af9bbc4d31e3562ba2343bb881f372e05f43771d25

test:
  secret_key_base: 1d3170138ef9c5714859db889070b9f2c0fc84bbffb17e5c1b8df53d392a8a25541753caa70a0ca769ef57b80330838c7026c2f7c81a5b53e79457c6fa90d5eb

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  gmail_username: 'mbajra1@students.towson.edu'
  gmail_password: 'Arsenal123'

