<h2>Submit Your Application</h2>
<h2>Review and submit your application</h2>
<h3>We will notify via email when your application is accepted.</h3>

<!-- <edit_cs_application_path(@cs_application)> -->

<h3><%= link_to t('.back'), previous_wizard_path, :class => 'btn btn-default' %> <%= link_to 'Review Application' ,review_application_path(@cs_application), :class=>'btn btn-info'%>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              cs_application_path(@cs_application),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-mini btn-danger' %>
  <%#= link_to 'Send' ,root_url, :class=>'btn'%>
</h3>
