<body><div id="page-404" class="tiger-wrapper panda-404">
  <div class="tiger-content">

    <h2 class="rs title-404">404</h2>
    <p class="rs">SORRY - PAGE NOT FOUND</p>
    <br /><br />
    <%= image_tag("towson_tiger.png", class: 'logo-pd-2')%>
    <div id="link"><%= link_to "GO BACK", root_path, class: 'btn btn-warning' %></div>
    <br /> <br />

  </div>
</div>

