<body>
<div id="page-422" class="tiger-wrapper tiger-422">
  <div class="tiger-content">

    <h2 class="rs title-422">422</h2>
    <p class="rs">UNPROCESSABLE ENTITY</p>
    <br /><br />
    <%= image_tag("towson_tiger.png", class: 'logo-pd-2')%>
    <div id="link"><%= link_to "GO BACK", root_path, class: 'btn btn-warning' %></div>
    <br /> <br />

  </div>
</div>
