<div id="page-500" class="tiger-wrapper tiger-500">
  <div class="tiger-content">

    <h2 class="rs title-500">500</h2>
    <p class="rs">INTERNAL ERROR</p>
    <br /><br />
    <%= image_tag("towson_tiger.png", class: 'logo-pd-2')%>
    <div id="link"><%= link_to "GO BACK", root_path, class: 'btn btn-warning'%></div>
    <br /> <br />

  </div>
</div>