/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree
 *= require bootstrap-datepicker
 */

/**** global css ****/

a{
    text-decoration: none !important;
}

ul >li {list-style-type: none;}

h4 {color: #FFA500 !important;}

table thead {background-color: #FC0 !important;}

.white, .white a {color: #fff;}

/**** navbar section ****/

.towson-line {
	height: 10px;
	background-color: #ffcc00;
}

.navbar {
    border-radius: 0px !important;
}
.navbar-inverse .navbar-brand {
    color: #FFF !important;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #ffcc00 !important;
    background-color: transparent;
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF !important;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ffcc00 !important;
    background-color: transparent;
}

/**** footer css ****/

#footer {
    background-color: #ffcc00;
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
    padding-top: 10px;
}
.towson-footer {
    width: 100%;
    text-align: center;
}

.towson-footer ul>li{
    color: black;
    display: inline;
    padding: 1em 1em;
}

.towson-footer ul>li a, .towson-footer ul>li a:link{
    color: #000000;
    background-color: transparent;
}
.towson-footer ul>li a:hover, .towson-footer ul>li a:focus {
    color: #ccc;
    background-color: transparent;
}

