/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree
 *= require bootstrap-datepicker
 */

/**** global css ****/
a{text-decoration: none !important;}
ul >li {list-style-type: none;}
h4 {color: #FFA500 !important;}
table thead th{background-color: #FC0 !important;}
a, a:link, a:visited {color: #FFF;}
a, a:hover, a:focus {color: #ffcc00;}

/*** container css ***/
.container{width: auto;margin: 0px 10px 100px 10px;}

/**** navbar section ****/
.towson-line {height: 10px;background-color: #ffcc00;}
.navbar {border-radius: 0px !important; border: 12px solid #080808 !important; }
.navbar-header a.navbar-brand{color:#ffcc00 !important;}
.navbar-inverse .navbar-brand {color: #FFF !important;}
.navbar-brand:hover, .navbar-brand:focus {text-decoration: none;}
.navbar-inverse .navbar-nav > li > a { color: #FFF !important; }
.navbar-right > li:last-child >a{padding-left: 20px;font-size: larger;font-weight: 500;border-left: 1px solid #fff;margin-left: 20px;}
.navbar-inverse .navbar-nav > li > span {color: #FC0 !important;padding-top: 15px;padding-bottom: 15px;display: inline-block;padding-left: 5px;}
.navbar-inverse .navbar-nav > li > span.white {color:#fff !important;}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {color: #ffcc00 !important;  background-color: transparent;}

/**** footer css ****/
#footer{background-color:#ffcc00;width:100%;height:120px;position:absolute;bottom: 0;padding-top: 30px !important;}
.towson-footer {width: 100%;text-align: center;}
.towson-footer ul>li{color: black;display: inline;padding: 1em 1em;}
.towson-footer ul>li a, .towson-footer ul>li a:link{color: #000000;background-color: transparent;}
.towson-footer ul>li a:hover, .towson-footer ul>li a:focus {color: #fff;background-color: transparent;}

/*** review page css ***/
#wrap {width:100%;margin:0 auto 2em auto;padding: 5px;float:left;border: 1px solid;border-radius: 5px;}
#wrap .left_col {float:left;}
#wrap .right_col {padding-left: 20em;}
#wrap .right_col ul{padding-left: 0;}
#wrap .title {clear:both;padding-top: 8px;padding-bottom: 2px;}
#wrap .empty {padding-top: 3px;}

/*** transcript css ***/
.transcripts {float:left; width:100%;}
.transcripts .right {margin-right:20em; float:right;}
.transcripts .left {margin-bottom: 2em;}